<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>Events</h1>
    <p id="time"></p>
  </div>
  <div class="panel panel-default">
  </div>

<!--event-->

{{# each title}}
<section class="panel-group" >
	<div class="panel panel-default col-md-7">
<div id="{{this.[0].title}}"></div>
      <a>
       <img src = "{{this.[0].image}}" width="500" height="250"/>
     </a>

			<p><a href="/p/{{this.[0].key}}" role="button" class="btn btn-default">View details »</a>
        <a href="/attend/{{this.[0].key}}" role="button" class="btn btn-default">Attend »</a>
        <a href="/unattend/{{this.[0].key}}" role="button" class="btn btn-default">Un Attend »</a>
      </p>
  </div><br>
	<div class="panel panel-default col-md-7">
</section>
{{/each}}


{{else}}
<div class="jumbotron">
  <h1>Welcome to Bikebuddy</h1>
  <h2>Sign in</h2>
  <p>
</div>
<div class="col-md-offset-4">
    <a href="/auth/facebook/" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
  </p>
</div>

{{/if}}
