<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>Events</h1>
    <p id="time"></p>
  </div>


<!--event-->

{{# each title}}
<section class="panel-group" >
	<div class="panel panel-default col-md-12">


        <img src = "{{this.[0].image}}" width="230" height="130"/>
      <div class="box">
        <h3> {{this.[0].title}}</h3>
        <p> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <strong>Date:</strong> {{this.[0].date}} </p>
        <p> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <strong>Time:</strong> {{this.[0].time}} </p>
        <p> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <strong>Start:</strong> {{this.[0].start}}  <strong>End:</strong> {{this.[0].end}}
        <p> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>Attended:</strong> {{this.[0].attendants}}</p>
        <p><strong>Description:</strong> {{this.[0].desc}}</p>
      </div>

      <div class="buttons">
			  <a href="/p/{{this.[0].key}}" role="button" class="btn btn-default">{{this.[0].title}} »</a>
        <a href="/attend/{{this.[0].key}}" role="button" id="attend" class="btn btn-default">Attend »</a>
        <a href="/unattend/{{this.[0].key}}" role="button" id="unattend" class="btn btn-default">Un Attend »</a>
      </div>

  </div><br>

</section>
{{/each}}


<script>
document.getElementById("attend").onclick = function() {attendFunction()};
function attendFunction() {
    document.getElementById("attend");
    alert("Attended");
}
document.getElementById("unattend").onclick = function() {unattendFunction()};
function unattendFunction() {
    document.getElementById("unattend");
    alert("Unattended");
}
</script>




{{else}}
<div class="jumbotron">
  <h1>Welcome to Bikebuddy</h1>
  <h2>Sign in</h2>
  <p>
</div>
<div class="col-md-offset-4">
    <a href="/auth/facebook/" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
  </p>
</div>

{{/if}}
