<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>Events</h1>
    <p id="time"></p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>ID: {{user.id}}</p>
<p>Name :{{user.displayName}}</p>
    </div>
  </div>

<!--event-->
<section class="panel-group" >

	<div class="panel panel-default col-md-7">
		<h2>{{totalCount}}</h2>
			<p></p>
			<p><a href="#" role="button" class="btn btn-default">View details »</a></p>
	</div><br>
	<div class="panel panel-default col-md-7">
		<h2>{{title}}</h2>
	<div class="panel panel-default col-md-12">
		<h2>Turning torso</h2>
			<p></p>
			<p><a href="#" role="button" class="btn btn-default">View details »</a></p>
	</div>
	<div class="panel panel-default col-md-12">
		<h2>Stortorget</h2>

			<p></p>
			<p><a href="#" role="button" class="btn btn-default">View details »</a></p>
	</div>
	<div class="panel panel-default col-md-12">
		<h2>Stadium</h2>
			<p></p>
			<p><a href="#" role="button" class="btn btn-default">View details »</a></p>
	</div>
</section>

{{else}}
<div class="jumbotron">
  <h1>Sign in</h1>
  <p>Welcome to Bikebuddy</p>
  <p>
</div>
<div class="col-md-offset-4">
    <a href="/auth/facebook/" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
  </p>
</div>

{{/if}}
