<!-- views/infoEvent.handlebars -->
{{#if user}}

  <div style="background-image: url( {{image}})" class="jumbotron">
    <h1> {{title}} </h1>
  </div>
  <div class="col-sm-12 text-center">

    <h3><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Date: {{date}} </h3>
    <h3><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Time: {{time}}</h3>
    <h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Start: {{start}}</h4>
    <h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> End: {{end}}</h4>
  </div>

    <div class="col-sm-12 text-center">

      <h4><strong>About this event:</strong> {{desc}}</h4>
      <h4><strong>People attending this event:</strong> {{attendants}}</h4>
      <a href="/attend/{{key}}" role="button" id="attend" class="btn btn-success">Attend</a>
    </div>

    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>This event waw created by {{creator}}</p>



<!--Om användaren inte är inloggad visas denna-->
{{/if}}
